.width100 {
    width: 100%;
  }
  .width50 {
    width: 50%;
  }
  .width25 {
    width: 25%;
  }
  .width75 {
    width: 75%;
  }
  .width33 {
    width: 33.33%;
  }
  .width66 {
    width: 66.66%;
  }
  .width20 {
    width: 20%;
  }
  .width40 {
    width: 40%;
  }
  .width60 {
    width: 60%;
  }
  .width80 {
    width: 80%;
  }
